In [11]:
import hvplot.pandas
import pandas as pd
import requests
from api_keys import geoapify_key
import os
import json
from pprint import pprint

In [12]:
culture_vis_df = pd.read_csv("Resources/culture_vis_df.csv")
culture_vis_df

,Unnamed: 0,Province,Making Music(%),Theatre(%),Audio-Visual and Interactive Media(%),Dancing(%),Visual Arts(%),Crafting(%),Writing(%),Other Cultural Activities(%)
0,0,British Columbia,15.8,0.0,4.5,9.8,14.8,18.5,11.9,5.0
1,1,Alberta,12.3,0.0,4.0,10.2,13.5,19.3,11.7,4.2
2,2,Manitoba,17.2,0.0,0.0,7.4,11.4,18.6,8.8,6.4
3,3,Ontario,15.8,1.9,5.4,10.1,14.9,19.4,13.0,5.9
4,4,Quebec,11.6,0.0,2.6,7.1,8.5,11.2,7.4,3.6
5,5,Nova Scotia,17.9,0.0,4.3,7.7,15.0,23.2,10.4,8.5

In [13]:
condensed_df = pd.read_csv("Resources/condensed_culture_df.csv")
condensed_df

    Unnamed: 0            Name  Participation in Cultural Activities (%)
0            0         Halifax                                      60.9
1            1          Québec                                      40.3
2            2        Montréal                                      40.3
3            3        Gatineau                                      40.3
4            4          Ottawa                                      54.8
5            5         Toronto                                      54.8
6            6        Hamilton                                      54.8
7            7  St. Catherines                                      54.8
8            8       Kitchener                                      54.8
9            9          London                                      54.8
10          10         Windsor                                      54.8
11          11        Winnipeg                                      52.7
12          12         Calgary                                      52.2
13          13        Edmonton                                      52.2
14          14       Vancouver                                      54.4

In [14]:
condensed_df.insert(3, "Places", "")

ValueError: cannot insert Places, already exists

In [14]:
condensed_df.insert(2, "Country", "CA")
condensed_df

,Unnamed: 0,Name,Country,Participation in Cultural Activities (%)
0,0,Halifax,CA,60.9
1,1,Québec,CA,40.3
2,2,Montréal,CA,40.3
3,3,Gatineau,CA,40.3
4,4,Ottawa,CA,54.8
5,5,Toronto,CA,54.8
6,6,Hamilton,CA,54.8
7,7,St. Catherines,CA,54.8
8,8,Kitchener,CA,54.8
9,9,London,CA,54.8
10,10,Windsor,CA,54.8
11,11,Winnipeg,CA,52.7
12,12,Calgary,CA,52.2
13,13,Edmonton,CA,52.2
14,14,Vancouver,CA,54.4

In [22]:
del(condensed_df["Lng"])

In [15]:
condensed_df.insert(3, "Lat", [44.6453, 46.8123, 45.5088, 45.4772, 45.4112, 43.7001, 43.2334, 43.1668, 43.4214, 42.9834, 42.3001, 49.8844, 51.0501, 53.5501, 49.2497
                              ])

In [23]:
condensed_df.insert(4, "Lng", [-63.5724, -71.2145, -73.5878, -75.7016, -75.6981, -79.4163, -79.9496, -79.2496, -80.5112, -81.2330, -83.0165, -97.1470, -114.0853, -113.4687, -123.1193])

In [24]:
condensed_df

,Unnamed: 0,Name,Country,Lat,Lng,Participation in Cultural Activities (%),Places
0,0,Halifax,CA,44.6453,-63.5724,60.9,Argyle Fine Art
1,1,Québec,CA,46.8123,-71.2145,40.3,no places found
2,2,Montréal,CA,45.5088,-73.5878,40.3,James Square
3,3,Gatineau,CA,45.4772,-75.7016,40.3,Maison de la Culture
4,4,Ottawa,CA,45.4112,-75.6981,54.8,Gallery 101
5,5,Toronto,CA,43.7001,-79.4163,54.8,The Eglinton Grand
6,6,Hamilton,CA,43.2334,-79.9496,54.8,Stand4art
7,7,St. Catherines,CA,43.1668,-79.2496,54.8,Niagara Artists Centre
8,8,Kitchener,CA,43.4214,-80.5112,54.8,Conrad Centre for the Performing Arts
9,9,London,CA,42.9834,-81.2330,54.8,The Palace Theatre
10,10,Windsor,CA,42.3001,-83.0165,54.8,McDougall Street
11,11,Winnipeg,CA,49.8844,-97.1470,52.7,Gas Station Arts Centre
12,12,Calgary,CA,51.0501,-114.0853,52.2,ENMAX Main Stage
13,13,Edmonton,CA,53.5501,-113.4687,52.2,Millennium Plaza/Shumka Stage
14,14,Vancouver,CA,49.2497,-123.1193,54.4,Superette Studio

In [35]:
radius = 50000
params = {
    "categories":"entertainment.culture",
    "apiKey": geoapify_key,
    "limit":20
}


print("Starting culture details search")


for index, row in condensed_df.iterrows():
    
   
    city = row["Name"]
    
    
    latitude = row["Lat"]
    longitude = row["Lng"]
    

    params["filter"] = f"circle:{longitude},{latitude},{radius}"
    
    
    
    base_url = "https://api.geoapify.com/v2/places"
           
    
    response = requests.get(base_url, params=params)
        
   
    response = response.json()
    try:
        for place in city: response["features"][0]['properties']['address_line1']
    except (KeyError, IndexError):
            no_place = "no places found"
    
    print(f"{city} - nearest place: {place}")

Starting culture details search
Halifax - nearest place: x
Québec - nearest place: c
Montréal - nearest place: l
Gatineau - nearest place: u
Ottawa - nearest place: a
Toronto - nearest place: o
Hamilton - nearest place: n
St. Catherines - nearest place: s
Kitchener - nearest place: r
London - nearest place: n
Windsor - nearest place: r
Winnipeg - nearest place: g
Calgary - nearest place: y
Edmonton - nearest place: n
Vancouver - nearest place: r

In [26]:
condensed_df

,Unnamed: 0,Name,Country,Lat,Lng,Participation in Cultural Activities (%),Places
0,0,Halifax,CA,44.6453,-63.5724,60.9,Argyle Fine Art
1,1,Québec,CA,46.8123,-71.2145,40.3,Le Diamant
2,2,Montréal,CA,45.5088,-73.5878,40.3,James Square
3,3,Gatineau,CA,45.4772,-75.7016,40.3,Maison de la Culture
4,4,Ottawa,CA,45.4112,-75.6981,54.8,Gallery 101
5,5,Toronto,CA,43.7001,-79.4163,54.8,The Eglinton Grand
6,6,Hamilton,CA,43.2334,-79.9496,54.8,Stand4art
7,7,St. Catherines,CA,43.1668,-79.2496,54.8,Niagara Artists Centre
8,8,Kitchener,CA,43.4214,-80.5112,54.8,Conrad Centre for the Performing Arts
9,9,London,CA,42.9834,-81.2330,54.8,The Palace Theatre
10,10,Windsor,CA,42.3001,-83.0165,54.8,McDougall Street
11,11,Winnipeg,CA,49.8844,-97.1470,52.7,Gas Station Arts Centre
12,12,Calgary,CA,51.0501,-114.0853,52.2,ENMAX Main Stage
13,13,Edmonton,CA,53.5501,-113.4687,52.2,Millennium Plaza/Shumka Stage
14,14,Vancouver,CA,49.2497,-123.1193,54.4,Superette Studio

In [ ]:
radius = 50000
params = {
    "categories":"entertainment.culture",
    "apiKey": geoapify_key,
    "limit":20
}

# Print a message to follow up the airport search
print("Starting culture details search")

# Iterate through the types_df DataFrame
for index, row in condensed_df.iterrows():
    
    # Get the city's name
    city = row["Name"]
    
    # Get latitude, longitude from the DataFrame
    latitude = row["Lat"]
    longitude = row["Lng"]
    
    # Add the current city's latitude and longitude to the params dictionary
    params["filter"] = f"circle:{longitude},{latitude},{radius}"
    params["bias"] = f"proximity:{longitude},{latitude}"
    
    # Set base URL
    base_url = "https://api.geoapify.com/v2/places"
           
    # Make an API request using the params dictionary
    response = requests.get(base_url, params=params)
        
    # Convert the API response to JSON format
    response = response.json()
    try:
        condensed_df.loc[index, "Places"] = response["features"][0]['properties']['address_line1']
    except (KeyError, IndexError):
            condensed_df.loc[index, 'Places'] = "no places found"
    
    print(f"{condensed_df.loc[index, 'Name']} - nearest place: {condensed_df.loc[index, 'Places']}")